* {
    margin: 0;
    padding: 0;
}

#terminal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/*默认滚动条样式*/
#terminal::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
#terminal::-webkit-scrollbar-thumb {
    border: 1px #808080 solid;
    border-radius: 10px;
    background: #999;
}
#terminal::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}